* {
  margin: 5;
  padding: 5;
}

a {
  color: #575757;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: #fff;
}

body {
  font-family: "Arial Nova Light", "Arial Light", Helvetica, sans-serif;
  line-height: 1.4;
  background-color: #262626;
  color: #fff
}

h1 {
  font-size: 3rem;
}
